@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --cor--principal:#007489;
  --cor--secundaria:#FEDD59;
  --cor--terciaria:#40B7D4;
  --cor--quartenaria: black;
}

body {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  background: var(--cor--principal);
  text-align: center;
}

.imagem-topo{
  height: 400px;
  width: 600px;
}

h1, p, label{
    color: var(--cor--quartenaria);
    font-weight: bold;
}

p{
  font-size: 18px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  background-color: var(--cor--terciaria);
  padding: 1em;
  border-radius: 30px;
  margin-top: 8%;
}

button {
  background-color: var(--cor--secundaria);
  color: var(--cor--quartenaria);
  border: none;
  padding: 0.7em;
  margin: 5px;
  border-radius: 30px;
  box-shadow: 1px 1px 6px #000;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  background-color: var(--cor--terciaria);
}

.final-step,
.second-step {
  display: none;
}

input {
  display: flex;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5em;
  margin-left: -6px;
  background-color: var(--cor--secundaria);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.3em;
}

h3{
  color: var(--cor--quartenaria);
  font-size: 25px;
  font-weight: bold;
}

#resultado {
  font-size: 25px;
}

.imagem-fundo{
  margin-top: 5%;
}

.rodape{
  font-size: 15px;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  color: var(--cor--quartenaria);
}

@media only screen and (max-width: 480px) {
  img {
    width: 80%;
  }

  .imagem-topo{
    width: auto;
  }
  
  .container{
    width: auto;
    margin-top: 4%;
    margin-bottom: 6%;
  }
  
  button{
    margin: auto;
  }
  
  .imagem-fundo{
    margin-top: 0;
  }

  .rodape{
    margin-top: 10%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px){
  .container{
    width: auto;
    margin-top: 4%;
    margin-bottom: 18%;
  }
  
  button{
    margin: auto;
  }
  
  .imagem-fundo{
    margin-top: 25%;
  }

  .rodape{
    margin-top: 20%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1600px){
  .imagem-topo{
    widht: 800px;
    height:600px;
  }
  
  .container{
    width: auto;
    margin-top: 13%;
    margin-bottom: 10%;
  }
  
  button{
    margin: auto;
  }
  
  .imagem-fundo{
    margin-top: 10%;
  }

  .rodape{
    margin-top: 10%;
  }
}

@media only screen and (min-width:1800){
  .imagem-topo{
    widht: 800px;
    height:600px;
  }
  
  .container{
    width: auto;
    margin-top: 13%;
    margin-bottom: 10%;
  }
  
  button{
    margin: auto;
  }
  
  .imagem-fundo{
    margin-top: 10%;
  }

  .rodape{
    margin-top: 10%;
  }
}
